*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    gap: 20px;
    height: 50vh;
    background-color: rgb(216, 216, 129);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}